In [1]:
# Importing modules and packages
import os
import sys
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime
import numpy as np
import pandas as pd
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from keras.models import Sequential 
from keras.layers import Dense, Activation, Input 
from keras.utils import to_categorical 
from keras.layers import Flatten 
from keras.models import Model 
from keras import models 
from keras import layers
from sklearn.feature_extraction import DictVectorizer
from clr import LRFinder
from clr import OneCycleLR
from fastai.imports import *
from fastai.structured import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from clr import OneCycleLR
from tabulate import tabulate

Using TensorFlow backend.

In [2]:
# Let's see the data
df = pd.read_csv("fixed_Obituaries_Dataset.csv")

In [3]:
# first couple of rows and last rows
print("First 5 columns")
print(df.head().transpose())

print ("=" * 100)
print("")
print("Last 5 columns")
print(df.tail().transpose())

First 5 columns
                                               0                           1  \
Name                          Eng. Paul Chemweno        Edith Kiende Kiogora
Announcement                          08/11/2017                  08/11/2017
Death                                 02/11/2017                  27/10/2017
Burial                                17/11/2017                  11/11/2017
Burial_Day                                Friday                    Saturday
Burial_Week                              Weekday                     Weekend
Gender                                      Male                      Female
Age                                           66                          43
Color                                        Yes                         Yes
Size                                       55.18                        83.6
Word_Count                                   179                         293
No_of_Children                                 7                           4
Significant_Children                           0                           0
Significant_Relatives                          0                           7
Fundraising                                  Yes                         Yes
Death_to_Announce                              6                          12
Death_to_Burial                               15                          15
Announce_to_Burial                             9                           3
No_of_Relatives                               35                           8
County_Burial                        Uasin Gishu               Tharaka Nithi
County_Death                         Uasin Gishu                     Nairobi
County_Morgue                        Uasin Gishu               Tharaka Nithi
Distance_Death                                 0                         224
Distance_Morgue                                0                           0
Cause_of_Death                           illness                     illness
Married                                      Yes                         Yes
Spouse_Alive                                 Yes                         Yes
Spouse_gender                             Female                        Male
Hospital               Memorial Hospital Eldoret       Nairobi West Hospital
Morgue                              MTRH Eldoret  Chogoria Hospital Mortuary
Same_Morgue                                   No                          No
Cost_Morgue                                  NaN                         NaN
Occupation                              Director                     Teacher
Repetition                                   NaN                         NaN
Corporate                                    NaN                         NaN
Corporate_Name                               NaN                         NaN
Residence                                    NaN                         NaN
Residence_Name                               NaN                         NaN
Residence_Category                           NaN                         NaN

                                                 2  \
Name                   Simon Muchiri Ngigii Mbaria
Announcement                            08/11/2017
Death                                   01/11/2017
Burial                                  08/11/2017
Burial_Day                               Wednesday
Burial_Week                                Weekday
Gender                                        Male
Age                                             35
Color                                          Yes
Size                                        109.12
Word_Count                                     206
No_of_Children                                   4
Significant_Children                             0
Significant_Relatives                            2
Fundraising                                     No
Death_to_Announce                                7
Death_to_Burial                                  7
Announce_to_Burial                               0
No_of_Relatives                                  7
County_Burial                            Nyandarua
County_Death                             Nyandarua
County_Morgue                               Nakuru
Distance_Death                                   0
Distance_Morgue                                 77
Cause_of_Death                             illness
Married                                        Yes
Spouse_Alive                                   Yes
Spouse_gender                               Female
Hospital                Charity Hospital Nyahururu
Morgue                                Umash Nakuru
Same_Morgue                                     No
Cost_Morgue                                    NaN
Occupation                                 Teacher
Repetition                                     NaN
Corporate                                      NaN
Corporate_Name                                 NaN
Residence                                      NaN
Residence_Name                                 NaN
Residence_Category                             NaN

                                                    3                     4
Name                   Mwalimu Erick Namusasi Werunga  Catherine Mueni Sina
Announcement                               08/11/2017            08/11/2017
Death                                      24/10/2017            02/11/2017
Burial                                     09/11/2017            11/11/2017
Burial_Day                                   Thursday              Saturday
Burial_Week                                   Weekday               Weekend
Gender                                           Male                Female
Age                                                54                    41
Color                                             Yes                    No
Size                                             83.6                 55.18
Word_Count                                        171                   150
No_of_Children                                      4                     1
Significant_Children                                0                     0
Significant_Relatives                               0                   NaN
Fundraising                                        No                   NaN
Death_to_Announce                                  15                     6
Death_to_Burial                                    16                     9
Announce_to_Burial                                  1                     3
No_of_Relatives                                    33                    17
County_Burial                             Trans Nzioa              Machakos
County_Death                                      NaN           Uasin Gishu
County_Morgue                             Trans Nzioa                   NaN
Distance_Death                                      0                   378
Distance_Morgue                                   NaN                   NaN
Cause_of_Death                                illness              accident
Married                                           Yes                   NaN
Spouse_Alive                                       No                   NaN
Spouse_gender                                  Female                  Male
Hospital                                          NaN                   NaN
Morgue                                 Maida Mortuary                   NaN
Same_Morgue                                       NaN                   NaN
Cost_Morgue                                       NaN                   NaN
Occupation                                    Teacher                   NaN
Repetition                                        NaN                   NaN
Corporate                                         NaN                   NaN
Corporate_Name                                    NaN                   NaN
Residence                                         NaN                   NaN
Residence_Name                                    NaN                   NaN
Residence_Category                                NaN                   NaN
====================================================================================================

Last 5 columns
                                      1286                         1287  \
Name                   Faith Wangui Mwathi  Mama Agnes Omwenga Nyakundi
Announcement                    17/03/2017                   17/03/2017
Death                           13/03/2017                   12/03/2017
Burial                          18/03/2017                   24/03/2017
Burial_Day                        Saturday                       Friday
Burial_Week                        Weekend                      Weekday
Gender                              Female                       Female
Age                                    NaN                          NaN
Color                                  Yes                          Yes
Size                                   110                       130.24
Word_Count                             224                          339
No_of_Children                           1                            6
Significant_Children                     0                            3
Significant_Relatives                    0                           14
Fundraising                            Yes                          Yes
Death_to_Announce                        4                            5
Death_to_Burial                          5                           12
Announce_to_Burial                       1                            7
No_of_Relatives                         18                           54
County_Burial                      Nairobi                        Kisii
County_Death                       Nairobi                        Kisii
County_Morgue                      Nairobi                        Kisii
Distance_Death                           0                            0
Distance_Morgue                          0                            0
Cause_of_Death                     illness                      illness
Married                                 No                          Yes
Spouse_Alive                           NaN                           No
Spouse_gender                          NaN                         Male
Hospital                               NaN                Hema Hospital
Morgue                    Lee Funeral Home       Hema Hospital Mortuary
Same_Morgue                            NaN                          Yes
Cost_Morgue                            NaN                          NaN
Occupation                       Safaricom                          NaN
Repetition                             NaN                          NaN
Corporate                              NaN                          NaN
Corporate_Name                         NaN                          NaN
Residence                              NaN                          NaN
Residence_Name                         NaN                          NaN
Residence_Category                     NaN                          NaN

                                                        1288  \
Name                   Mrs Jane Wanjiru Kaniu(Nyina Wa Andu)
Announcement                                      17/03/2017
Death                                             11/03/2017
Burial                                            22/03/2017
Burial_Day                                         Wednesday
Burial_Week                                          Weekday
Gender                                                Female
Age                                                       73
Color                                                    Yes
Size                                                  131.22
Word_Count                                               166
No_of_Children                                            12
Significant_Children                                       4
Significant_Relatives                                      3
Fundraising                                              Yes
Death_to_Announce                                          6
Death_to_Burial                                           11
Announce_to_Burial                                         5
No_of_Relatives                                           27
County_Burial                                       Murang'a
County_Death                                          Abroad
County_Morgue                                         Kiambu
Distance_Death                                           NaN
Distance_Morgue                                           67
Cause_of_Death                                       illness
Married                                                  Yes
Spouse_Alive                                              No
Spouse_gender                                           Male
Hospital                                                 NaN
Morgue                                   Kenyatta University
Same_Morgue                                               No
Cost_Morgue                                              NaN
Occupation                                        Huplan Ltd
Repetition                                               NaN
Corporate                                                NaN
Corporate_Name                                           NaN
Residence                                                NaN
Residence_Name                                           NaN
Residence_Category                                       NaN

                                                         1289  \
Name                   Snr. Insp. Of Police Betty Cherono Soi
Announcement                                       17/03/2017
Death                                                     NaN
Burial                                             18/03/2017
Burial_Day                                           Saturday
Burial_Week                                           Weekend
Gender                                                 Female
Age                                                       NaN
Color                                                     Yes
Size                                                    54.56
Word_Count                                                112
No_of_Children                                              1
Significant_Children                                        0
Significant_Relatives                                       1
Fundraising                                               Yes
Death_to_Announce                                   42,811.00
Death_to_Burial                                        42,812
Announce_to_Burial                                          1
No_of_Relatives                                            16
County_Burial                                     Uasin Gishu
County_Death                                              NaN
County_Morgue                                     Uasin Gishu
Distance_Death                                            NaN
Distance_Morgue                                             0
Cause_of_Death                                        illness
Married                                                    No
Spouse_Alive                                              NaN
Spouse_gender                                             NaN
Hospital                                                  NaN
Morgue                                           MTRH Eldoret
Same_Morgue                                               NaN
Cost_Morgue                                               NaN
Occupation                                Inspector of police
Repetition                                                NaN
Corporate                                                 NaN
Corporate_Name                                            NaN
Residence                                                 NaN
Residence_Name                                            NaN
Residence_Category                                        NaN

                                            1290
Name                         Mzee Muliko Kimanga
Announcement                          17/03/2017
Death                                 12/03/2017
Burial                                18/03/2017
Burial_Day                              Saturday
Burial_Week                              Weekend
Gender                                      Male
Age                                           70
Color                                        Yes
Size                                       54.56
Word_Count                                   216
No_of_Children                                10
Significant_Children                           0
Significant_Relatives                          1
Fundraising                                  Yes
Death_to_Announce                              5
Death_to_Burial                                6
Announce_to_Burial                             1
No_of_Relatives                               21
County_Burial                            Makueni
County_Death                            Machakos
County_Morgue                           Machakos
Distance_Death                                76
Distance_Morgue                               76
Cause_of_Death                           illness
Married                                      Yes
Spouse_Alive                                 Yes
Spouse_gender                             Female
Hospital               Shalom Community Hospital
Morgue                     Machakos Funeral Home
Same_Morgue                                   No
Cost_Morgue                                  NaN
Occupation                                   NaN
Repetition                                   NaN
Corporate                                    NaN
Corporate_Name                               NaN
Residence                                    NaN
Residence_Name                               NaN
Residence_Category                           NaN

In [4]:
# convert the date columns into datetime
df["Burial"] = pd.to_datetime(df.Burial)
df["Announcement"] = pd.to_datetime(df.Announcement)
df["Death"] = pd.to_datetime(df['Death'])
#df2['Death_to_Burial'] = df2.Death_to_Burial.astype("float64")
#df2['Announce_to_Burial'] = df2.Announce_to_Burial.astype("float64") column dropped too many missing values
df['No_of_Relatives'] = df.No_of_Relatives.astype("float64")
df['Distance_Morgue'] = df.Distance_Morgue.astype("float64")

# got several errors in parsing therefore I manually changed the dataset i changed 20117 in entry 
# Caroline Nakhumicha Muyumbu on the announcement column
# Simon Muchiri Ngigii Mbaria had this symbol in the observation of announcement ` I removed it since pandas was
# throwing an error plus it doesn't make sense since it was not annotated in the codebook
# tell the person who sent this if they have more info
# Uasin Gishu is also misspelled
# Mzee Harrison Onyango Ongong'a had a wrong entry on death i changed it 
# Mzee Wanderi Mugo also had a wrong entry that i fixed
# Alfred Dennis had weird entry too in death I fixed it too
# use grep --color "217" Obituaries_Dataset.csv
# for other patterns use grep --color pattern name of file

In [5]:
# look at concise summary of the dataset
df.info()

# 1291 rows and 39 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1291 entries, 0 to 1290
Data columns (total 39 columns):
Name                     1291 non-null object
Announcement             1264 non-null datetime64[ns]
Death                    892 non-null datetime64[ns]
Burial                   1164 non-null datetime64[ns]
Burial_Day               1163 non-null object
Burial_Week              1163 non-null object
Gender                   1291 non-null object
Age                      507 non-null float64
Color                    1289 non-null object
Size                     1237 non-null float64
Word_Count               1237 non-null float64
No_of_Children           1093 non-null float64
Significant_Children     1092 non-null float64
Significant_Relatives    1083 non-null float64
Fundraising              1142 non-null object
Death_to_Announce        724 non-null object
Death_to_Burial          1237 non-null object
Announce_to_Burial       1273 non-null object
No_of_Relatives          1047 non-null float64
County_Burial            1044 non-null object
County_Death             525 non-null object
County_Morgue            880 non-null object
Distance_Death           486 non-null float64
Distance_Morgue          871 non-null float64
Cause_of_Death           798 non-null object
Married                  1048 non-null object
Spouse_Alive             943 non-null object
Spouse_gender            935 non-null object
Hospital                 267 non-null object
Morgue                   865 non-null object
Same_Morgue              203 non-null object
Cost_Morgue              2 non-null object
Occupation               251 non-null object
Repetition               67 non-null object
Corporate                58 non-null object
Corporate_Name           93 non-null object
Residence                34 non-null object
Residence_Name           34 non-null object
Residence_Category       34 non-null object
dtypes: datetime64[ns](3), float64(9), object(27)
memory usage: 393.4+ KB

In [6]:
df.describe()

# 5 columns that are numerical and different thus we'll need to standardize the columns mean=1 and standard deviation=1

,Age,Size,Word_Count,No_of_Children,Significant_Children,Significant_Relatives,No_of_Relatives,Distance_Death,Distance_Morgue
count,507.000000,1237.000000,1237.000000,1093.000000,1092.000000,1083.000000,1047.000000,486.000000,871.000000
mean,65.422091,88.341496,212.953112,5.484904,1.011905,7.337950,18.415473,271.370370,95.783008
std,20.492632,55.520239,89.660233,4.319116,1.848240,12.351233,17.907033,1338.659678,147.232438
min,1.000000,53.430000,23.000000,0.000000,0.000000,0.000000,-2.000000,0.000000,0.000000
25%,51.000000,56.070000,159.000000,3.000000,0.000000,0.000000,5.000000,0.000000,0.000000
50%,68.000000,68.640000,201.000000,4.000000,0.000000,2.000000,15.000000,0.000000,0.000000
75%,81.500000,104.680000,250.000000,8.000000,2.000000,8.000000,26.000000,151.000000,147.000000
max,117.000000,880.000000,2014.000000,30.000000,12.000000,79.000000,147.000000,13713.000000,789.000000

In [7]:
# checking the first observations
df.head().transpose()

,0,1,2,3,4
Name,Eng. Paul Chemweno,Edith Kiende Kiogora,Simon Muchiri Ngigii Mbaria,Mwalimu Erick Namusasi Werunga,Catherine Mueni Sina
Announcement,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00
Death,2017-02-11 00:00:00,2017-10-27 00:00:00,2017-01-11 00:00:00,2017-10-24 00:00:00,2017-02-11 00:00:00
Burial,2017-11-17 00:00:00,2017-11-11 00:00:00,2017-08-11 00:00:00,2017-09-11 00:00:00,2017-11-11 00:00:00
Burial_Day,Friday,Saturday,Wednesday,Thursday,Saturday
Burial_Week,Weekday,Weekend,Weekday,Weekday,Weekend
Gender,Male,Female,Male,Male,Female
Age,66,43,35,54,41
Color,Yes,Yes,Yes,Yes,No
Size,55.18,83.6,109.12,83.6,55.18
Word_Count,179,293,206,171,150
No_of_Children,7,4,4,4,1
Significant_Children,0,0,0,0,0
Significant_Relatives,0,7,2,0,NaN
Fundraising,Yes,Yes,No,No,NaN
Death_to_Announce,6,12,7,15,6
Death_to_Burial,15,15,7,16,9
Announce_to_Burial,9,3,0,1,3
No_of_Relatives,35,8,7,33,17
County_Burial,Uasin Gishu,Tharaka Nithi,Nyandarua,Trans Nzioa,Machakos
County_Death,Uasin Gishu,Nairobi,Nyandarua,NaN,Uasin Gishu
County_Morgue,Uasin Gishu,Tharaka Nithi,Nakuru,Trans Nzioa,NaN
Distance_Death,0,224,0,0,378
Distance_Morgue,0,0,77,NaN,NaN
Cause_of_Death,illness,illness,illness,illness,accident
Married,Yes,Yes,Yes,Yes,NaN
Spouse_Alive,Yes,Yes,Yes,No,NaN
Spouse_gender,Female,Male,Female,Female,Male
Hospital,Memorial Hospital Eldoret,Nairobi West Hospital,Charity Hospital Nyahururu,NaN,NaN
Morgue,MTRH Eldoret,Chogoria Hospital Mortuary,Umash Nakuru,Maida Mortuary,NaN
Same_Morgue,No,No,No,NaN,NaN
Cost_Morgue,NaN,NaN,NaN,NaN,NaN
Occupation,Director,Teacher,Teacher,Teacher,NaN
Repetition,NaN,NaN,NaN,NaN,NaN
Corporate,NaN,NaN,NaN,NaN,NaN
Corporate_Name,NaN,NaN,NaN,NaN,NaN
Residence,NaN,NaN,NaN,NaN,NaN
Residence_Name,NaN,NaN,NaN,NaN,NaN
Residence_Category,NaN,NaN,NaN,NaN,NaN

In [8]:
#checking the data types for each column
df.dtypes

Name                             object
Announcement             datetime64[ns]
Death                    datetime64[ns]
Burial                   datetime64[ns]
Burial_Day                       object
Burial_Week                      object
Gender                           object
Age                             float64
Color                            object
Size                            float64
Word_Count                      float64
No_of_Children                  float64
Significant_Children            float64
Significant_Relatives           float64
Fundraising                      object
Death_to_Announce                object
Death_to_Burial                  object
Announce_to_Burial               object
No_of_Relatives                 float64
County_Burial                    object
County_Death                     object
County_Morgue                    object
Distance_Death                  float64
Distance_Morgue                 float64
Cause_of_Death                   object
Married                          object
Spouse_Alive                     object
Spouse_gender                    object
Hospital                         object
Morgue                           object
Same_Morgue                      object
Cost_Morgue                      object
Occupation                       object
Repetition                       object
Corporate                        object
Corporate_Name                   object
Residence                        object
Residence_Name                   object
Residence_Category               object
dtype: object

In [9]:
# Calculating the percentage of missing values 

# How many rows have observations that are null(NaN)
missing_values = df.isnull().sum()

# Percentage of missing values the dataset
# df.index.size finds the number of observations in the datase, you do df.shape[0] too!
percent_missing = ((missing_values / df.index.size) * 100)

# See the result
print(percent_missing)

Name                      0.000000
Announcement              2.091402
Death                    30.906274
Burial                    9.837335
Burial_Day                9.914795
Burial_Week               9.914795
Gender                    0.000000
Age                      60.728118
Color                     0.154919
Size                      4.182804
Word_Count                4.182804
No_of_Children           15.336948
Significant_Children     15.414407
Significant_Relatives    16.111541
Fundraising              11.541441
Death_to_Announce        43.919442
Death_to_Burial           4.182804
Announce_to_Burial        1.394268
No_of_Relatives          18.900077
County_Burial            19.132455
County_Death             59.333850
County_Morgue            31.835786
Distance_Death           62.354764
Distance_Morgue          32.532920
Cause_of_Death           38.187452
Married                  18.822618
Spouse_Alive             26.955848
Spouse_gender            27.575523
Hospital                 79.318358
Morgue                   32.997676
Same_Morgue              84.275755
Cost_Morgue              99.845081
Occupation               80.557707
Repetition               94.810225
Corporate                95.507359
Corporate_Name           92.796282
Residence                97.366383
Residence_Name           97.366383
Residence_Category       97.366383
dtype: float64

In [10]:
"Median percentage of missing values " + str(np.median(percent_missing))

'Median percentage of missing values 27.575522850503486'

In [11]:
# Make a list of observations whose columns have greater than or equal to observations that are missing
# This will prevent the model from learning since the matrices are empty
columns_to_drop = list(percent_missing[percent_missing >= 80].index)

print(columns_to_drop)

['Same_Morgue', 'Cost_Morgue', 'Occupation', 'Repetition', 'Corporate', 'Corporate_Name', 'Residence', 'Residence_Name', 'Residence_Category']

In [12]:
# columns are dropped
df_clean_stage1 = df.drop(columns_to_drop, axis=1)

print(df_clean_stage1)

                                        Name Announcement      Death  \
0                         Eng. Paul Chemweno   2017-08-11 2017-02-11
1                       Edith Kiende Kiogora   2017-08-11 2017-10-27
2                Simon Muchiri Ngigii Mbaria   2017-08-11 2017-01-11
3             Mwalimu Erick Namusasi Werunga   2017-08-11 2017-10-24
4                       Catherine Mueni Sina   2017-08-11 2017-02-11
5                Maritha Mwendwa Mbui (Kaka)   2017-08-11 2017-02-11
6               Mama Fransisca Nyarinda Mose   2017-07-11 2017-10-18
7                     Onesmus Mwangi Gachahi   2017-07-11 2017-02-11
8        WO1 (RTD) Jackson Gitonga Kirimania   2017-07-11 2017-03-11
9                   Mama Lenah Nekesa Mamati   2017-07-11 2017-02-11
10      Senior Chief Julius Cheruiyot Ng'eno   2017-07-11 2017-10-30
11                       Lucy Gathoni Njunia   2017-08-11        NaT
12                 Andrew Omolo Okal Stephen   2017-08-11 2017-10-18
13                    Onesmus Mwangi Gachahi   2017-08-11 2017-10-29
14                      Stanley Maina Githua   2017-07-11 2017-01-11
15                      Rosalia Murugi Ngari   2017-07-11 2017-10-31
16        Simon Guandaru Ndegwa (Karumaindo)   2017-07-11 2017-10-24
17                       Lucy Wanjiru Mareru   2017-07-11 2017-01-11
18                  Mikierina Wairimu Mbugua   2017-07-11 2017-01-11
19                Leah Wanjiru Gaceru Kiratu   2017-07-11 2017-02-11
20                      Peris Nyokabi Karugi   2017-07-11 2017-01-11
21                Lydia Njoki Mugo (Wakambo)   2017-07-11        NaT
22         Superintendent Zilpah Ajali Fazan   2017-07-11 2017-10-30
23                       Esther Otinga Sakwa   2017-07-11 2017-10-29
24                      John Kiriro Githaiga   2017-08-11 2017-01-11
25              Morris Moses (Mutha) Kariuki   2017-08-11 2017-03-11
26                    Bernard Wachunga Ngari   2017-08-11 2017-03-11
27                    Daniel Mwaniki Timothy   2017-08-11 2017-10-30
28                  Alexander Karugi Gichuru   2017-08-11 2017-04-11
29                        Bertha Awuor Diero   2017-08-11 2017-10-28
...                                      ...          ...        ...
1261                     Renson Kiiru Wembia   2017-01-03 2017-02-26
1262                  Solomon Mungai Njoroge   2017-01-03 2017-02-23
1263                Dorothy Naisiae Keriasek   2017-01-03 2017-02-22
1264                      Ides Wagure Gikuhi   2017-01-03 2017-02-22
1265                    Julia Wamuyu Gathuku   2017-01-03        NaT
1266                     Robert Kyalo Ngwili   2017-01-03        NaT
1267                  Salome Nyang'ara Ogari   2017-01-03        NaT
1268           Peter Ochieng Kichana(Japuon)   2017-01-03        NaT
1269               Albert Juma Nyatodo Ogola   2017-01-03 2017-02-26
1270                     Mary Wamuyu Magothe   2017-01-03        NaT
1271                Reynold Mutinda Munywoki   2017-01-03 2017-02-26
1272                   Martha Njambi Mwaniki   2017-01-03 2017-02-25
1273                  Anthony Munene Gikunda   2017-01-03        NaT
1274                 Priscilla Wanjiku Mwita   2017-01-03 2017-02-23
1275                  Stanley Nyang'au maina   2017-01-03        NaT
1276                Cpa Simon Kiptanui Mctoo   2017-01-03 2017-02-22
1277                  Pstr Rosemary Mwongera   2017-01-03        NaT
1278               Caroline Wairimu Wanjihia   2017-01-03 2017-02-26
1279                 Raojibhai Rambhai Patel   2017-01-03        NaT
1280               H.E Hon. Nderitu Gachagua   2017-01-03 2017-02-24
1281        Elder(rtd) Phylis wanjeri Mwaura   2017-03-17 2017-12-03
1282                            Evan Wangome   2017-03-17 2017-03-13
1283                  Lynne Ncabira Kithinji   2017-03-17 2017-03-13
1284                         Elisha Mwanzige   2017-03-17 2017-03-14
1285             Agnes Hilda Anyango Nyimbae   2017-03-17 2017-03-13
1286                     Faith Wangui Mwathi   2017-03-17 2017-03-13
1287             Mama Agnes Omwenga Nyakundi   2017-03-17 2017-12-03
1288   Mrs Jane Wanjiru Kaniu(Nyina Wa Andu)   2017-03-17 2017-11-03
1289  Snr. Insp. Of Police Betty Cherono Soi   2017-03-17        NaT
1290                     Mzee Muliko Kimanga   2017-03-17 2017-12-03

         Burial Burial_Day Burial_Week  Gender   Age Color    Size  \
0    2017-11-17     Friday     Weekday    Male  66.0   Yes   55.18
1    2017-11-11   Saturday     Weekend  Female  43.0   Yes   83.60
2    2017-08-11  Wednesday     Weekday    Male  35.0   Yes  109.12
3    2017-09-11   Thursday     Weekday    Male  54.0   Yes   83.60
4    2017-11-11   Saturday     Weekend  Female  41.0    No   55.18
5    2017-09-11   Thursday     Weekday  Female  92.0   Yes   55.18
6    2017-10-11     Friday     Weekday  Female  79.0   Yes  145.96
7    2017-09-11   Thursday     Weekday    Male  86.0   Yes   55.18
8    2017-11-11   Saturday     Weekend    Male  72.0   Yes   55.18
9    2017-11-11   Saturday     Weekend  Female  87.0   Yes   84.55
10   2017-08-11  Wednesday     Weekend    Male  90.0   Yes  159.60
11   2017-10-11     Friday    Weekeday  Female   NaN   Yes   69.42
12   2017-11-11   Saturday     Weekend    Male   NaN   Yes   68.53
13   2017-10-11     Friday     Weekday    Male   NaN   Yes   66.88
14   2017-08-11  Wednesday     Weekday    Male   NaN   Yes   53.68
15   2017-10-11     Friday     Weekday  Female   NaN   Yes   54.56
16   2017-10-11     Friday     Weekday    Male  72.0   Yes   81.70
17   2017-08-11  Wednesday     Weekday  Female  49.0   Yes   83.52
18   2017-10-11     Friday     Weekday  Female   NaN   Yes   55.44
19   2017-11-14    Tuesday     Weekday  Female   NaN   Yes   85.44
20   2017-09-11   Thursday     Weekday  Female   NaN    No   55.44
21   2017-11-11   Saturday     Weekend  Female  91.0   Yes   64.24
22   2017-11-11   Saturday     Weekend  Female  58.0   Yes   55.44
23   2017-11-11   Saturday     Weekend  Female  62.0   Yes  154.10
24   2017-10-11     Friday     Weekday    Male  93.0   Yes   54.56
25   2017-11-11   Thursday     Weekday    Male   NaN   Yes   83.60
26   2017-10-11     Friday     Weekday    Male   NaN   Yes   54.56
27   2017-10-11     Friday     Weekday    Male   NaN   Yes   84.48
28   2017-10-11     Friday     Weekday    Male   NaN   Yes   84.48
29   2017-10-11     Friday     Weekday  Female   NaN   Yes   84.48
...         ...        ...         ...     ...   ...   ...     ...
1261 2017-04-03   Saturday     Weekend    Male  58.0   Yes   54.56
1262        NaT        NaN         NaN    Male   NaN   Yes   54.57
1263 2017-03-03     Friday     Weekday  Female  49.0    No   84.48
1264 2017-03-03     Friday     Weekday  Female   NaN   Yes   58.96
1265 2017-03-03     Friday     Weekday  Female  75.0   Yes   67.76
1266 2017-04-03   Saturday     Weekend    Male   NaN    No   84.48
1267 2017-03-03     Friday     Weekday  Female  84.0   Yes  149.60
1268 2017-03-03     Friday     Weekday    Male   NaN    No   84.48
1269 2017-11-03   Saturday     Weekend    Male   NaN   Yes  125.84
1270 2017-03-03     Friday     Weekday  Female   NaN   Yes   54.56
1271 2017-03-03     Friday     Weekday    Male   1.0   Yes   54.56
1272 2017-03-03     Friday     Weekday  Female  82.0   Yes   54.56
1273 2017-03-03     Friday     Weekday    Male  22.0   Yes   56.67
1274 2017-07-03    Tuesday     Weekday  Female  93.0   Yes   67.76
1275 2017-02-03   Thursday     Weekday    Male   NaN   Yes   67.76
1276 2017-04-03   Saturday     Weekend    Male  30.0   Yes   84.48
1277 2017-03-03     Friday     Weekday  Female  69.0   Yes   84.48
1278 2017-03-03     Friday     Weekday  Female  63.0   Yes  212.80
1279 2017-01-03  Wednesday     Weekday    Male  93.0   Yes  234.66
1280 2017-06-03     Monday     Weekday    Male  64.0   Yes  440.00
1281 2017-03-21    Tuesday     Weekday  Female  89.0   Yes   54.56
1282 2017-03-22  Wednesday     Weekday    Male   NaN   Yes   54.56
1283 2017-03-20     Monday     Weekday  Female   NaN   Yes   54.56
1284 2017-03-22  Wednesday     Weekday    Male   NaN   Yes   54.56
1285        NaT        NaN         NaN  Female   NaN   Yes   80.08
1286 2017-03-18   Saturday     Weekend  Female   NaN   Yes  110.00
1287 2017-03-24     Friday     Weekday  Female   NaN   Yes  130.24
1288 2017-03-22  Wednesday     Weekday  Female  73.0   Yes  131.22
1289 2017-03-18   Saturday     Weekend  Female   NaN   Yes   54.56
1290 2017-03-18   Saturday     Weekend    Male  70.0   Yes   54.56

                     ...                  County_Death    County_Morgue  \
0                    ...                   Uasin Gishu      Uasin Gishu
1                    ...                       Nairobi    Tharaka Nithi
2                    ...                     Nyandarua           Nakuru
3                    ...                           NaN      Trans Nzioa
4                    ...                   Uasin Gishu              NaN
5                    ...                           NaN             Meru
6                    ...                       Nairobi          Nairobi
7                    ...                           NaN          Nairobi
8                    ...                       Nairobi          Nairobi
9                    ...                       Nairobi          Nairobi
10                   ...                           NaN              NaN
11                   ...                           NaN            Nyeri
12                   ...                        Abroad          Nairobi
13                   ...                       Nairobi          Nairobi
14                   ...                       Nairobi          Nairobi
15                   ...                          Embu             Embu
16                   ...                       Nairobi          Nairobi
17                   ...                           NaN  Shalom Hospital
18                   ...                         Nyeri        Nyandarua
19                   ...                           NaN              NaN
20                   ...                           NaN           Kiambu
21                   ...                           NaN            Nyeri
22                   ...                           NaN          Mombasa
23                   ...                           NaN      Uasin Gishu
24                   ...                       Nairobi           Nakuru
25                   ...                           NaN          Nairobi
26                   ...                           NaN            Nyeri
27                   ...                           NaN          Nairobi
28                   ...                           NaN           Kiambu
29                   ...                           NaN              NaN
...                  ...                           ...              ...
1261                 ...                        Kiambu           Kiambu
1262                 ...                        Abroad              NaN
1263                 ...                        Nakuru           Nakuru
1264                 ...                      Murang'a         Murang'a
1265                 ...                         Nyeri            Nyeri
1266                 ...                      Machakos         Machakos
1267                 ...                       Nairobi          Nairobi
1268                 ...                        Kisumu           Kisumu
1269                 ...                       Nairobi          Nairobi
1270                 ...                         Nyeri            Nyeri
1271                 ...                        Kiambu           Kiambu
1272                 ...                           NaN              NaN
1273                 ...                        Kiambu           Kiambu
1274                 ...                        Kiambu           Kiambu
1275                 ...                       Nyamira          Nyamira
1276                 ...                           NaN              NaN
1277                 ...                           NaN             Meru
1278                 ...                           NaN              NaN
1279                 ...                       Nairobi          Nairobi
1280                 ...                        Abroad          Nairobi
1281                 ...                        Nakuru           Nakuru
1282                 ...                       Nairobi          Nairobi
1283                 ...                           NaN              NaN
1284                 ...                       Mombasa          Mombasa
1285                 ...                           NaN              NaN
1286                 ...                       Nairobi          Nairobi
1287                 ...                         Kisii            Kisii
1288                 ...                        Abroad           Kiambu
1289                 ...                           NaN      Uasin Gishu
1290                 ...                      Machakos         Machakos

      Distance_Death  Distance_Morgue Cause_of_Death Married Spouse_Alive  \
0                0.0              0.0        illness     Yes          Yes
1              224.0              0.0        illness     Yes          Yes
2                0.0             77.0        illness     Yes          Yes
3                0.0              NaN        illness     Yes           No
4              378.0              NaN       accident     NaN          NaN
5                NaN              0.0            NaN     Yes           No
6              304.0            304.0            NaN     Yes          Yes
7                NaN              0.0        illness     Yes           No
8              272.0            272.0        illness     Yes          Yes
9              418.0            418.0        illness     Yes           No
10               NaN              NaN            NaN     Yes           No
11               NaN              0.0            NaN     NaN          NaN
12           10000.0            341.0        illness     Yes          Yes
13              73.0             73.0        illness     Yes          Yes
14              73.0             73.0        illness     Yes           No
15               0.0              0.0        illness     Yes           No
16               0.0              0.0        illness     Yes           No
17               NaN             70.0        illness     Yes          Yes
18             167.0              0.0        illness     Yes           No
19               NaN              NaN            NaN     Yes           No
20               NaN              0.0            NaN     NaN          NaN
21               NaN              0.0            NaN     Yes          Yes
22               NaN            392.0            NaN     Yes          NaN
23               NaN             93.0            NaN     Yes          Yes
24             160.0              0.0        illness     Yes           No
25               NaN             74.0        illness     Yes          Yes
26               NaN              0.0            NaN      No         None
27               NaN             74.0        illness     Yes          Yes
28               NaN              0.0        illness     Yes          Yes
29               NaN              NaN        illness     Yes          Yes
...              ...              ...            ...     ...          ...
1261            67.0             67.0        illness     Yes          Yes
1262             NaN              NaN        illness     Yes          Yes
1263             0.0              0.0        illness     Yes          Yes
1264             0.0              0.0        illness     Yes          Yes
1265             0.0              0.0        illness     Yes           No
1266             0.0              0.0        illness     Yes          Yes
1267           306.0            306.0        illness     Yes           No
1268             0.0              0.0        illness     Yes          Yes
1269           402.0            402.0        illness     Yes          Yes
1270             0.0              0.0        illness     Yes          Yes
1271           152.0            152.0        illness      No          NaN
1272             NaN              NaN            NaN     Yes           No
1273           279.0            279.0       Accident      No          NaN
1274             0.0              0.0        illness     Yes           No
1275             0.0              0.0        illness     Yes          Yes
1276             NaN              NaN            NaN      No          NaN
1277             NaN              0.0        illness     Yes           No
1278             NaN              NaN            NaN      No          NaN
1279             0.0              0.0        illness     Yes           No
1280             NaN            151.0        illness     Yes          Yes
1281             0.0              0.0        illness     Yes           No
1282           151.0            151.0        illness     Yes           No
1283             0.0              0.0        illness      No          NaN
1284             0.0              0.0        illness     Yes          Yes
1285             NaN              NaN            NaN     Yes          Yes
1286             0.0              0.0        illness      No          NaN
1287             0.0              0.0        illness     Yes           No
1288             NaN             67.0        illness     Yes           No
1289             NaN              0.0        illness      No          NaN
1290            76.0             76.0        illness     Yes          Yes

     Spouse_gender                       Hospital  \
0           Female      Memorial Hospital Eldoret
1             Male          Nairobi West Hospital
2           Female     Charity Hospital Nyahururu
3           Female                            NaN
4             Male                            NaN
5             Male                            NaN
6             Male                            NaN
7           Female                            NaN
8           Female  St. Francis Hospital Kasarani
9             Male                            NaN
10          Female                            NaN
11            Male                            NaN
12          Female                   UNC Hospital
13          Female              Aga Khan Hospital
14          Female               Nairobi Hospital
15            Male            Tenri Hospital Embu
16          Female                            NaN
17            Male                            NaN
18            Male                            NaN
19            Male                            NaN
20            Male                            NaN
21            Male                            NaN
22            Male                            NaN
23            Male                            NaN
24          Female              Kenyatta Hospital
25          Female                            NaN
26            None                            NaN
27          Female                            NaN
28          Female                            NaN
29            Male                            NaN
...            ...                            ...
1261        Female                            NaN
1262        Female                            NaN
1263          Male                            NaN
1264          Male                            NaN
1265          Male                            NaN
1266        Female                            NaN
1267          Male                            NaN
1268        Female                            NaN
1269        Female                Coptic Hospital
1270          Male                            NaN
1271           NaN          Metropolitan Hospital
1272          Male                            NaN
1273           NaN                            NaN
1274          Male                            NaN
1275        Female                            NaN
1276           NaN                            NaN
1277          Male                            NaN

In [13]:
# remove columns with too many missing values and would prevent the model from learning anything
df_clean_stage1 = df.drop(['Death_to_Announce','Death_to_Burial','Announce_to_Burial'], axis = 1)

In [14]:
# changing orientation of the dataframs
df_clean_stage1.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290
Name,Eng. Paul Chemweno,Edith Kiende Kiogora,Simon Muchiri Ngigii Mbaria,Mwalimu Erick Namusasi Werunga,Catherine Mueni Sina,Maritha Mwendwa Mbui (Kaka),Mama Fransisca Nyarinda Mose,Onesmus Mwangi Gachahi,WO1 (RTD) Jackson Gitonga Kirimania,Mama Lenah Nekesa Mamati,...,Elder(rtd) Phylis wanjeri Mwaura,Evan Wangome,Lynne Ncabira Kithinji,Elisha Mwanzige,Agnes Hilda Anyango Nyimbae,Faith Wangui Mwathi,Mama Agnes Omwenga Nyakundi,Mrs Jane Wanjiru Kaniu(Nyina Wa Andu),Snr. Insp. Of Police Betty Cherono Soi,Mzee Muliko Kimanga
Announcement,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-07-11 00:00:00,2017-07-11 00:00:00,2017-07-11 00:00:00,2017-07-11 00:00:00,...,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00,2017-03-17 00:00:00
Death,2017-02-11 00:00:00,2017-10-27 00:00:00,2017-01-11 00:00:00,2017-10-24 00:00:00,2017-02-11 00:00:00,2017-02-11 00:00:00,2017-10-18 00:00:00,2017-02-11 00:00:00,2017-03-11 00:00:00,2017-02-11 00:00:00,...,2017-12-03 00:00:00,2017-03-13 00:00:00,2017-03-13 00:00:00,2017-03-14 00:00:00,2017-03-13 00:00:00,2017-03-13 00:00:00,2017-12-03 00:00:00,2017-11-03 00:00:00,NaT,2017-12-03 00:00:00
Burial,2017-11-17 00:00:00,2017-11-11 00:00:00,2017-08-11 00:00:00,2017-09-11 00:00:00,2017-11-11 00:00:00,2017-09-11 00:00:00,2017-10-11 00:00:00,2017-09-11 00:00:00,2017-11-11 00:00:00,2017-11-11 00:00:00,...,2017-03-21 00:00:00,2017-03-22 00:00:00,2017-03-20 00:00:00,2017-03-22 00:00:00,NaT,2017-03-18 00:00:00,2017-03-24 00:00:00,2017-03-22 00:00:00,2017-03-18 00:00:00,2017-03-18 00:00:00
Burial_Day,Friday,Saturday,Wednesday,Thursday,Saturday,Thursday,Friday,Thursday,Saturday,Saturday,...,Tuesday,Wednesday,Monday,Wednesday,NaN,Saturday,Friday,Wednesday,Saturday,Saturday
Burial_Week,Weekday,Weekend,Weekday,Weekday,Weekend,Weekday,Weekday,Weekday,Weekend,Weekend,...,Weekday,Weekday,Weekday,Weekday,NaN,Weekend,Weekday,Weekday,Weekend,Weekend
Gender,Male,Female,Male,Male,Female,Female,Female,Male,Male,Female,...,Female,Male,Female,Male,Female,Female,Female,Female,Female,Male
Age,66,43,35,54,41,92,79,86,72,87,...,89,NaN,NaN,NaN,NaN,NaN,NaN,73,NaN,70
Color,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
Size,55.18,83.6,109.12,83.6,55.18,55.18,145.96,55.18,55.18,84.55,...,54.56,54.56,54.56,54.56,80.08,110,130.24,131.22,54.56,54.56
Word_Count,179,293,206,171,150,174,450,154,2014,236,...,210,224,196,152,149,224,339,166,112,216
No_of_Children,7,4,4,4,1,4,11,7,3,19,...,2,3,1,3,7,1,6,12,1,10
Significant_Children,0,0,0,0,0,1,1,0,0,3,...,0,0,0,0,0,0,3,4,0,0
Significant_Relatives,0,7,2,0,NaN,7,0,0,0,7,...,3,4,2,0,0,0,14,3,1,1
Fundraising,Yes,Yes,No,No,NaN,No,No,No,No,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
No_of_Relatives,35,8,7,33,17,19,115,2,24,26,...,21,18,13,17,23,18,54,27,16,21
County_Burial,Uasin Gishu,Tharaka Nithi,Nyandarua,Trans Nzioa,Machakos,Meru,Nyamira,Nairobi,Meru,Bungoma,...,Nakuru,Nyeri,NaN,Mombasa,NaN,Nairobi,Kisii,Murang'a,Uasin Gishu,Makueni
County_Death,Uasin Gishu,Nairobi,Nyandarua,NaN,Uasin Gishu,NaN,Nairobi,NaN,Nairobi,Nairobi,...,Nakuru,Nairobi,NaN,Mombasa,NaN,Nairobi,Kisii,Abroad,NaN,Machakos
County_Morgue,Uasin Gishu,Tharaka Nithi,Nakuru,Trans Nzioa,NaN,Meru,Nairobi,Nairobi,Nairobi,Nairobi,...,Nakuru,Nairobi,NaN,Mombasa,NaN,Nairobi,Kisii,Kiambu,Uasin Gishu,Machakos
Distance_Death,0,224,0,0,378,NaN,304,NaN,272,418,...,0,151,0,0,NaN,0,0,NaN,NaN,76
Distance_Morgue,0,0,77,NaN,NaN,0,304,0,272,418,...,0,151,0,0,NaN,0,0,67,0,76
Cause_of_Death,illness,illness,illness,illness,accident,NaN,NaN,illness,illness,illness,...,illness,illness,illness,illness,NaN,illness,illness,illness,illness,illness
Married,Yes,Yes,Yes,Yes,NaN,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,No,Yes,Yes,No,Yes,Yes,No,Yes
Spouse_Alive,Yes,Yes,Yes,No,NaN,No,Yes,No,Yes,No,...,No,No,NaN,Yes,Yes,NaN,No,No,NaN,Yes
Spouse_gender,Female,Male,Female,Female,Male,Male,Male,Female,Female,Male,...,Male,Female,NaN,Female,Male,NaN,Male,Male,NaN,Female
Hospital,Memorial Hospital Eldoret,Nairobi West Hospital,Charity Hospital Nyahururu,NaN,NaN,NaN,NaN,NaN,St. Francis Hospital Kasarani,NaN,...,NaN,NaN,Chogoria,NaN,NaN,NaN,Hema Hospital,NaN,NaN,Shalom Community Hospital
Morgue,MTRH Eldoret,Chogoria Hospital Mortuary,Umash Nakuru,Maida Mortuary,NaN,Meru Funeral Home,Umash Nairobi,Kenyatta University,St. Francis Funeral Home Kasarani,St. Francis Funeral Home Kasarani,...,Umash Nairobi,Lee Funeral Home,Chogoria Hospital Mortuary,Pandya Memorial,NaN,Lee Funeral Home,Hema Hospital Mortuary,Kenyatta University,MTRH Eldoret,Machakos Funeral Home
Same_Morgue,No,No,No,NaN,NaN,NaN,NaN,NaN,Yes,NaN,...,NaN,NaN,Yes,NaN,NaN,NaN,Yes,No,NaN,No
Cost_Morgue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Occupation,Director,Teacher,Teacher,Teacher,NaN,NaN,NaN,NaN,Soldier,NaN,...,NaN,NaN,NaN,NaN,NaN,Safaricom,NaN,Huplan Ltd,Inspector of police,NaN
Repetition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corporate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corporate_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Residence_Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Residence_Category,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_clean_stage1.dtypes

Name                             object
Announcement             datetime64[ns]
Death                    datetime64[ns]
Burial                   datetime64[ns]
Burial_Day                       object
Burial_Week                      object
Gender                           object
Age                             float64
Color                            object
Size                            float64
Word_Count                      float64
No_of_Children                  float64
Significant_Children            float64
Significant_Relatives           float64
Fundraising                      object
No_of_Relatives                 float64
County_Burial                    object
County_Death                     object
County_Morgue                    object
Distance_Death                  float64
Distance_Morgue                 float64
Cause_of_Death                   object
Married                          object
Spouse_Alive                     object
Spouse_gender                    object
Hospital                         object
Morgue                           object
Same_Morgue                      object
Cost_Morgue                      object
Occupation                       object
Repetition                       object
Corporate                        object
Corporate_Name                   object
Residence                        object
Residence_Name                   object
Residence_Category               object
dtype: object

In [16]:
# converting dtypes to pandas categories
train_cats(df_clean_stage1)

In [17]:
# columns have been converted from objects to categories
df_clean_stage1.dtypes

Name                           category
Announcement             datetime64[ns]
Death                    datetime64[ns]
Burial                   datetime64[ns]
Burial_Day                     category
Burial_Week                    category
Gender                         category
Age                             float64
Color                          category
Size                            float64
Word_Count                      float64
No_of_Children                  float64
Significant_Children            float64
Significant_Relatives           float64
Fundraising                    category
No_of_Relatives                 float64
County_Burial                  category
County_Death                   category
County_Morgue                  category
Distance_Death                  float64
Distance_Morgue                 float64
Cause_of_Death                 category
Married                        category
Spouse_Alive                   category
Spouse_gender                  category
Hospital                       category
Morgue                         category
Same_Morgue                    category
Cost_Morgue                    category
Occupation                     category
Repetition                     category
Corporate                      category
Corporate_Name                 category
Residence                      category
Residence_Name                 category
Residence_Category             category
dtype: object

In [18]:
# replace all the columns with numbers

# makes a copy of the original dataframe
df_codes = df_clean_stage1.copy()

# iterate via column names and column values and if column values are categories replace them with their numerical codes
for name, column in df_codes.items():
    if column.dtype.name == 'category':
        df_codes[name] = column.cat.codes
        
# count datatypes in dataframe
df_codes.dtypes.value_counts()

int8              21
float64            9
int16              3
datetime64[ns]     3
dtype: int64

In [19]:
# finding missing values again and imputing them
df_clean_stage1.isnull().sum().sort_index()/len(df_clean_stage1)

Age                      0.607281
Announcement             0.020914
Burial                   0.098373
Burial_Day               0.099148
Burial_Week              0.099148
Cause_of_Death           0.381875
Color                    0.001549
Corporate                0.955074
Corporate_Name           0.927963
Cost_Morgue              0.998451
County_Burial            0.191325
County_Death             0.593338
County_Morgue            0.318358
Death                    0.309063
Distance_Death           0.623548
Distance_Morgue          0.325329
Fundraising              0.115414
Gender                   0.000000
Hospital                 0.793184
Married                  0.188226
Morgue                   0.329977
Name                     0.000000
No_of_Children           0.153369
No_of_Relatives          0.189001
Occupation               0.805577
Repetition               0.948102
Residence                0.973664
Residence_Category       0.973664
Residence_Name           0.973664
Same_Morgue              0.842758
Significant_Children     0.154144
Significant_Relatives    0.161115
Size                     0.041828
Spouse_Alive             0.269558
Spouse_gender            0.275755
Word_Count               0.041828
dtype: float64

In [20]:
df_clean_stage1.head().transpose()

,0,1,2,3,4
Name,Eng. Paul Chemweno,Edith Kiende Kiogora,Simon Muchiri Ngigii Mbaria,Mwalimu Erick Namusasi Werunga,Catherine Mueni Sina
Announcement,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00,2017-08-11 00:00:00
Death,2017-02-11 00:00:00,2017-10-27 00:00:00,2017-01-11 00:00:00,2017-10-24 00:00:00,2017-02-11 00:00:00
Burial,2017-11-17 00:00:00,2017-11-11 00:00:00,2017-08-11 00:00:00,2017-09-11 00:00:00,2017-11-11 00:00:00
Burial_Day,Friday,Saturday,Wednesday,Thursday,Saturday
Burial_Week,Weekday,Weekend,Weekday,Weekday,Weekend
Gender,Male,Female,Male,Male,Female
Age,66,43,35,54,41
Color,Yes,Yes,Yes,Yes,No
Size,55.18,83.6,109.12,83.6,55.18
Word_Count,179,293,206,171,150
No_of_Children,7,4,4,4,1
Significant_Children,0,0,0,0,0
Significant_Relatives,0,7,2,0,NaN
Fundraising,Yes,Yes,No,No,NaN
No_of_Relatives,35,8,7,33,17
County_Burial,Uasin Gishu,Tharaka Nithi,Nyandarua,Trans Nzioa,Machakos
County_Death,Uasin Gishu,Nairobi,Nyandarua,NaN,Uasin Gishu
County_Morgue,Uasin Gishu,Tharaka Nithi,Nakuru,Trans Nzioa,NaN
Distance_Death,0,224,0,0,378
Distance_Morgue,0,0,77,NaN,NaN
Cause_of_Death,illness,illness,illness,illness,accident
Married,Yes,Yes,Yes,Yes,NaN
Spouse_Alive,Yes,Yes,Yes,No,NaN
Spouse_gender,Female,Male,Female,Female,Male
Hospital,Memorial Hospital Eldoret,Nairobi West Hospital,Charity Hospital Nyahururu,NaN,NaN
Morgue,MTRH Eldoret,Chogoria Hospital Mortuary,Umash Nakuru,Maida Mortuary,NaN
Same_Morgue,No,No,No,NaN,NaN
Cost_Morgue,NaN,NaN,NaN,NaN,NaN
Occupation,Director,Teacher,Teacher,Teacher,NaN
Repetition,NaN,NaN,NaN,NaN,NaN
Corporate,NaN,NaN,NaN,NaN,NaN
Corporate_Name,NaN,NaN,NaN,NaN,NaN
Residence,NaN,NaN,NaN,NaN,NaN
Residence_Name,NaN,NaN,NaN,NaN,NaN
Residence_Category,NaN,NaN,NaN,NaN,NaN

In [21]:
#subset the numerical columns
num_predict = df_clean_stage1.select_dtypes(include='number')


# view the subsetted numerical columns
num_predict.isnull().sum().sort_index()/len(df_clean_stage1)

Age                      0.607281
Distance_Death           0.623548
Distance_Morgue          0.325329
No_of_Children           0.153369
No_of_Relatives          0.189001
Significant_Children     0.154144
Significant_Relatives    0.161115
Size                     0.041828
Word_Count               0.041828
dtype: float64

In [22]:
# makes a copy of the original dataframe
df_imputed = df_clean_stage1.copy()

# iterate through column name and column values and if column values are numerical, replace NA values with the column median.
for name, column in df_imputed.items():
    if column.dtype == np.number:
        df_imputed[name] = df_imputed[name].fillna(column.median())

# select numerical columns
num_col = df_imputed.select_dtypes(include='number')

# display numerical columns with the percentage of missing values (NaN)
num_col.isnull().sum().sort_index()/len(df_clean_stage1)

Age                      0.0
Distance_Death           0.0
Distance_Morgue          0.0
No_of_Children           0.0
No_of_Relatives          0.0
Significant_Children     0.0
Significant_Relatives    0.0
Size                     0.0
Word_Count               0.0
dtype: float64

In [24]:

df_imputed["Fundraising"] = df.Fundraising.apply(lambda x: 1 if x == "Yes" else 0) #recode fundraising var

In [25]:
df_imputed.Fundraising.dtype

dtype('int64')

In [26]:
df_imputed['Death_to_Burial'] = (df_imputed['Death_to_Burial'] !='n').astype(int)

KeyError: 'Death_to_Burial'